<h1>index</h1>
<h1>Lectures</h1>
<table class="table">
  <% @lectures.each do |lecture| %>
    <%= lecture.theme_name %>
    <%= lecture.id_subject_theme %>
    <%= lecture.text %>
    <%= lecture.id_test %>
    <%= link_to 'Show', lecture_path(lecture) %>
    <%= link_to 'Edit', edit_lecture_path(lecture) %>
    <%= link_to 'Delete', lecture_path(lecture), method: :delete, data: {confirm: "Delete?"} %>
  <% end %>
  <br/>
  <a href="lectures/new">NEW lectures</a>
</table>
