<h1>Show</h1>
<%= @lecture.theme_name %>
<%= @lecture.subject_theme_id %>
<%= @lecture.text %>
<%= @lecture.test_id %>
<%= link_to 'Show All', lectures_path %>
<%= link_to 'Edit', edit_lecture_path(@lecture) %>