<div class="container">
  <div class="row">
  <h1 class="col-sm"><%= @lecture.theme_name %></h1>
  <div class="col-sm pt-2">
    <%= link_to 'Показати всі лекції', lectures_path, :class => 'btn btn-success' %>
  </div>
  <div class="col-sm pt-2">
  <%= link_to 'Змінити', edit_lecture_path(@lecture), :class => 'btn btn-warning' %>
  </div>

  </div>
  <%= @lecture.subject_theme_id %>
  <%= @lecture.text %>
  <%= @lecture.test_id %>
</div>