<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1><%= @themes.theme_name %></h1>
    </div>
    <div class="col-sm mt-2">
      <%= link_to 'Показати всі лекції', themes_path, :class => 'btn btn-success' %>
    </div>

    <div class="col-sm mt-2">
      <%= link_to 'Редагувати', edit_theme_path(@themes), :class => 'btn btn-warning' %>
    </div>
  </div>
  <h1>Лекції</h1>
  <% @lectures.each do |lecture| %>
    <div class="container">
      <div class="row">
        <h2 class="col-sm-8"><%= lecture.theme_name %></h2>
        <div class="col-sm-3">
          <%= link_to 'Змінити назву лекції', edit_lecture_path(lecture), :class => 'btn btn-warning' %>
        </div>
        <div class="col-sm-1">
          <%= link_to 'Видалити', lecture_path(lecture), method: :delete, data: {confirm: "Delete?"}, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <p class="ml-5 mr-5 mb-4" class='form-control'><%= lecture.text %></p>
  <% end %>
  <h1>Практики</h1>

  <% @practices.each do |practice| %>
    <div class="container">
      <div class="row">
        <h2 class="col-sm-8"><%= practice.theme_name %></h2>
        <div class="col-sm-3">
          <%= link_to 'Змінити назву лекції', edit_practice_path(practice), :class => 'btn btn-warning' %>
        </div>
        <div class="col-sm-1">
          <%= link_to 'Видалити', practice_path(practice), method: :delete, data: {confirm: "Delete?"}, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <p class="ml-5 mr-5 mb-4" class='form-control'><%= practice.text %></p>
  <% end %>
  <h1>Лабораторні</h1>

  <% @labs.each do |lab| %>
    <div class="container">
      <div class="row">
        <h2 class="col-sm-8"><%= lab.theme_name %></h2>
        <div class="col-sm-3">
          <%= link_to 'Змінити назву лекції', edit_lab_path(lab), :class => 'btn btn-warning' %>
        </div>
        <div class="col-sm-1">
          <%= link_to 'Видалити', lab_path(lab), method: :delete, data: {confirm: "Delete?"}, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <h2><%= lab.goal %></h2>
    <p class="ml-5 mr-5 mb-4" class='form-control'><%= lab.text %></p>
  <% end %>
</div>