<!doctype html>
<html>
<body>
<ul>
  <% if user_signed_in? %>
    <li>
      <%= button_to "Sign Out", destroy_user_session_path , :method => :delete %>
    </li>
    <li>
      <%='User email: ' + current_user.email %>
      <%# if @student.avatar.attached? %>
      <!--      <image src="<%#=(url_for(@student.avatar)) %>">-->
      <!--      "Bodya QA"-->
      <%#end %>
    </li>
    <li>
      <%= 'Name: ' + current_user.name %>
    </li>
    <li>
      <%= 'Surname: ' + current_user.surname%>
    </li>
    <li>
      <%= 'Groupname: ' + current_user.groupname %>
    </li>
  <% else  %>
    <li>
      <%= link_to "Sign in", new_user_session_path %> Авторизація
    </li>
    <li>
      <%= link_to "Sign UP", new_user_registration_path %> Регістрація
    </li>
  <%end %>
</ul>
</body>
</html>
