<h1>New Practice</h1>

<%=  form_for @practice, url: practices_path do |form|  %>

    <p>
    <%= form.label :"Thema" %><br>
    <%= form.text_field :theme_name %>
  </p>

  <p>
    <%= form.label :"Id subject theme" %><br>
    <%= form.number_field :subject_theme_id %>
  </p>

  <p>
    <%= form.label :"Text" %><br>
    <%= form.text_area :text %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>