<div class="container">
  <div class="row">
    <h2 class="text-center mt-5"><%= @course_name.name %></h2>
    <div class="text-center mt-5">
      <%= link_to 'Show All', courses_path, :class => 'btn btn-success' %>
      <%= link_to 'Edit', edit_course_path(@course_name), :class => 'btn btn-warning' %>
    </div>
  </div>
</div>
<a class="btn btn-primary row ml-5" href="../themes/new/" role="button">Додати нову тему</a>

<% @themes.each do |theme| %>
  <h1><%= theme.theme_name %></h1>
<% end %>

<div class="text-center mt-5">
  <%= link_to 'Show All', courses_path, :class => 'btn btn-success' %>
  <%= link_to 'Edit', edit_course_path(@course_name), :class => 'btn btn-warning' %>
</div>
